@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Montserrat&family=Nerko+One&family=Noto+Serif+Display:ital,wght@0,400;0,500;0,700;1,300&family=Poppins:ital,wght@0,300;0,400;0,600;1,300&family=Sanchez&family=Sarala&family=Satisfy&display=swap');
.scarlet{
  color: lightcoral;
  font-family: 'Nerko One', cursive;
  font-size: 42px;


}

.rightside{
  /*  */
  font-family: 'Nerko One', cursive;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
  font-size: 24px;
}

.display-flex{
  display: flex;
  flex-direction: row;
  gap: 30em;
  
}

.logoutBtn{
  width: 130px;
  height: 40px;
  margin-top: 7px;
  padding: -10%;
}